<footer class="footer">
  <div class="footer__container container grid">
    <a href="/" class="footer__logo">Taha</a>
    <ul class="footer__link">
      <li><a href="/about/" class="footer__link">About Me</a></li>
      <li><a href="/contact/" class="footer__link">Contact Me</a></li>
    </ul>
    <div class="footer__social">
      <a href="https://www.linkedin.com/in/muhammadtahanasir/" target="_blank" class="footer__social-link">
        <i class="ri-linkedin-box-fill"></i>
      </a>
    </div>
  </div>
  <span class="footer__copy">&#169; Muhammad Taha Nasir</span>
</footer>